body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 50vw;
    background-color: lightgray;
}

.content{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;    
}

.content__item{
    padding: 15px 40px;
    position: relative;
}

.content__item:not(:last-child){
    border-bottom: 2px solid black;
}

.content__heading{
    margin: 0 0 10px;
}

.content__close{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: red;

}

.content__text{
    margin: 0;
}



.hidden{
    display: none;
}